<!DOCTYPE html>
<!DOCTYPE HTML>
<html>
  <head>
    <style>
      body {
        margin: 0px;
        padding: 0px;
      }
    </style>
  </head>
  <body>
    <canvas id="myCanvas" width="1024" height="650"></canvas>
    <script>
      var canvas = document.getElementById('myCanvas');
      var context = canvas.getContext('2d');
      var x = canvas.width / 2;
      var y = canvas.height / 2;
      var radius = 15;
      var startAngle = 0.0 * Math.PI;
      var endAngle = 2.0 * Math.PI;
      var counterClockwise = false;

      
      for(var i=0; i<16; i++)
      {
		context.beginPath();
		context.arc(x, y, radius + (i * 20), startAngle, endAngle, counterClockwise);
		context.lineWidth = 15;
		context.strokeStyle = 'black';
		context.stroke();
	  }


    </script>
  </body>
</html>